.outer1 {
  width: 50%;
  margin-top: 0.5vw;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.outer2 {
  width: 40%;
  height: 54.5vh;
  margin-top: 0.5vw;
  margin-left: 1.2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
